{% load static %}
{% include "Landing_pages/landing_header.html" %}

    <div class="about_body">
        <div class="about_image">
            <img src="{% static "assets/img/home_imgs/img1.jpeg" %}" alt="">
            <h1>About</h1>
        </div>
        <div class="about_text text-center"><strong><h3>PROYAS EDUCARE FOUNDATION</strong></h3><br>
            <strong>ABOUT US</strong><br>
            <p>PROYAS EDUCARE FOUNDATION is a registered Non- Govt, Non-Political, Non-Religious, Non Profitable multidimensional social voluntary organization that has been working since 2016 for the gross upliftment and socio-economic changes of the down-trodden section of the people as well as grass root level people for poorest of the poor in the different districts of West Bengal. according to need in time to time in all over India
            PROYAS EDUCARE FOUNDATION sincerely believes in human and social development through conscious efforts of the people by themselves. People should realize their problems and seek to solve the problem with the help of us in our operational area. </p><br>
            <strong>LEGAL STATUS</strong><br>	
            a) Proyas Educare Foundation has been registered under the West Bengal Society Act 1961 having Registration No- S/2L/56318<br>
            b)Proyas Educare Foundation has been registered under the NITI Aayog, Govt of India(Reg NO-WB/2020/0257464)<br>
            c) PROYAS EDUCARE FOUNDATION has been registered under sec 12A of Income Tax Act by Govt. of India.(Reg No-  AAEAM8629CE2020601)<br>
            d) PROYAS EDUCARE FOUNDATION has been registered under Sec 80G of Income Tax Act by Govt. of India.( Reg No-  AAEAM8629CF20206)<br>
            e) PROYAS EDUCARE FOUNDATION has been registered for undertaking CSR activities and the Registration number is CSR00027180 <br><br>
            
            <strong>VISION</strong><br>
            A Self Reliant Society, free from the evils of caste, creed, gender discrimination, illiteracy, ill health, poverty & exploitation, where men and women move ahead hand-in-hand and in perfect harmony with nature, to attain higher levels of humaneness and camaraderie.
            Mission
            To provide meaningful opportunities to the poor and disadvantaged, with particular emphasis on the empowerment of women and other vulnerable sections of the society, to achieve a high level of sustained social & economic development.
            Target Groups
            Poor people belonging to scheduled caste, scheduled tribes, and other backward communities, and especially the women and children living in extreme poverty and privation are the target  groups of the organization.
            <br><br>
            <strong>ACTIVITIES OF THE ORGANIZATION</strong><br>      
            Our activities include comprehensive multidimensional projects such as:-	 	
            Awareness Generation Programme.
            Educational Programme (Various).
            Disability Development Programme.
            Relief & Rehabilitation Programme.        
            Community Health Programme, 
            Old Age Support
            S.C. and S.T. Development.  
            Women and Child Development
            Youth Welfare Programme.
            Cultural Programme.
            Animal Care Programme.
            Betterment of living Standard.
            Protecting the Environment Programme
            <br><br>
            <strong>OBJECTIVES OF THE ORGANIZATION:</strong>
            <br>
            1. To work with the poor and marginalized section of the society especially women and children on the issue of their rights and livelihood security. <br>
            2. To work towards promoting social justice, equity and harmony in society specially in Minority and Tribal Area.<br>
            3. Community based protection mechanisms will be in place to stop trafficking of women & children for domestic work, marriage or other hazardous occupations and make child domestic work socially and culturally unacceptable through practical means (models of best practices) by which child domestic work can be successfully reduced and gradually abolished in the high endemic blocks of West Bengal, India.<br>
            4. To Protect Environment and work for sustainable development practices in the polluted areas. <br>
            5. Capacity building of the village people and the community members for their inclusion and entitlement in all development programs be it Govt. or Non-Govt.<br>
            6. To work for the promotion of education , health and skill development for the people in general and women and children in particular.<br>
            7. Overall improvement of socio-economic conditions of the target community including basic health measures, education and livelihood enhancement program.<br>
            8. Our society has arranged awareness camp against drop out problems. With resource support from our welwisher to provide free distribution of text book,scholarship for poor but brilliant students.<br>
            9. To do all social welfare activities including public health,Blood Donation Camp and education and other development works of the locality in the interests of public service.<br>
            10. To do all such other things as may be deemed incidental or conductive to the attainment of the  foregoing objects.<br>
            11.To prevent the infliction of unnecessary pain or suffering on animals <br>
            12.To arrange Public awareness campaigns to inform the community about a current problem by highlighting and drawing attention to it in such a way that the information and education provided can solicit action to make changes.<br>
            13. To support for People with Disabilities<br>
            14. we are trying to help elderly and making sure that they are taken care of in their old age.</div>
    </div>
    {% include "Landing_pages/landing_footer.html" %}
